@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Dosis);
/* line 5, /Users/falcon/wdes/.bundle/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, /Users/falcon/wdes/.bundle/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, /Users/falcon/wdes/.bundle/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, /Users/falcon/wdes/.bundle/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, /Users/falcon/wdes/.bundle/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, /Users/falcon/wdes/.bundle/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, /Users/falcon/wdes/.bundle/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, /Users/falcon/wdes/.bundle/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, /Users/falcon/wdes/.bundle/ruby/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 6, /Users/falcon/wdes/lib/wdes/views/sass/style.sass */
html {
  position: relative;
  min-height: 100%;
}

/* line 9, /Users/falcon/wdes/lib/wdes/views/sass/style.sass */
body {
  min-width: 800px;
  min-height: 600px;
  color: #fff;
  font-size: 0;
  font-family: "メイリオ", "Meiryo", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "MS P ゴシック", "MS P Gothic", sans-serif;
  background: url(../images/back/grass.jpg) no-repeat center;
  background-size: cover;
}

/* line 17, /Users/falcon/wdes/lib/wdes/views/sass/style.sass */
a {
  text-decoration: none;
  transition-property: color, border-color, background-color;
  transition-duration: 0.2s;
}

/* line 21, /Users/falcon/wdes/lib/wdes/views/sass/style.sass */
canvas {
  margin: 0;
  padding: 0;
  border: none;
}

/* line 25, /Users/falcon/wdes/lib/wdes/views/sass/style.sass */
span.color_orange {
  color: #eb9c3e;
}

/* line 27, /Users/falcon/wdes/lib/wdes/views/sass/style.sass */
span.color_blue {
  color: #3b90c1;
}

/* line 30, /Users/falcon/wdes/lib/wdes/views/sass/style.sass */
.window {
  position: absolute;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  margin-top: -230px;
  margin-left: -335px;
  top: 50%;
  left: 50%;
  width: 670px;
  height: 500px;
  font-size: 0;
  border-radius: 5px;
  background: #fff;
}
/* line 45, /Users/falcon/wdes/lib/wdes/views/sass/style.sass */
.window__lastUpdated {
  display: inline-block;
  position: absolute;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  padding: 5px 10px;
  top: -40px;
  right: 0;
  height: 20px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 0.8rem;
  text-align: center;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-indent: 0.1em;
  border-radius: 4px;
  background: #2c2c2c;
}
/* line 61, /Users/falcon/wdes/lib/wdes/views/sass/style.sass */
.window__lastUpdated i {
  margin-right: 0.5em;
  text-indent: 0;
}

/* line 64, /Users/falcon/wdes/lib/wdes/views/sass/style.sass */
.window__container {
  position: relative;
  margin-left: 70px;
}

/* line 68, /Users/falcon/wdes/lib/wdes/views/sass/style.sass */
.globalNav {
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  height: 100%;
  background: #2c2c2c;
  border-radius: 4px 0 0 4px;
}
/* line 78, /Users/falcon/wdes/lib/wdes/views/sass/style.sass */
.globalNav__item {
  display: block;
  padding: 10px 0;
  color: rgba(255, 255, 255, 0.4);
  font-size: 1.2rem;
  text-align: center;
}
/* line 84, /Users/falcon/wdes/lib/wdes/views/sass/style.sass */
.globalNav__item:first-child {
  border-radius: 4px 0 0 0;
}
/* line 86, /Users/falcon/wdes/lib/wdes/views/sass/style.sass */
.globalNav__item:hover {
  color: #fff;
  background: rgba(255, 255, 255, 0.1);
}
/* line 89, /Users/falcon/wdes/lib/wdes/views/sass/style.sass */
.globalNav__item i {
  height: 35px;
  font-size: 1.2rem;
  line-height: 35px;
}

/* line 93, /Users/falcon/wdes/lib/wdes/views/sass/style.sass */
.globalNav__item_state_active {
  color: #fff;
  background: rgba(255, 255, 255, 0.05);
}

/* line 96, /Users/falcon/wdes/lib/wdes/views/sass/style.sass */
.globalNav__item__caption {
  display: block;
  height: 25px;
  font-size: 0.7rem;
  line-height: 25px;
}

/* line 102, /Users/falcon/wdes/lib/wdes/views/sass/style.sass */
.panelChart {
  display: inline-block;
  position: relative;
  background: rgba(0, 0, 0, 0.7);
}
/* line 106, /Users/falcon/wdes/lib/wdes/views/sass/style.sass */
.panelChart.panelChart_type_text {
  width: 300px;
  height: 120px;
  background: none;
}
/* line 110, /Users/falcon/wdes/lib/wdes/views/sass/style.sass */
.panelChart.panelChart_state_good::before, .panelChart.panelChart_state_soso::before, .panelChart.panelChart_state_notice::before, .panelChart.panelChart_state_attention::before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 120px;
  color: rgba(255, 255, 255, 0.1);
  font-family: "FontAwesome";
  font-size: 12rem;
  font-weight: normal;
  text-align: center;
  background: #3b90c1;
  overflow: hidden;
  content: "";
}
/* line 126, /Users/falcon/wdes/lib/wdes/views/sass/style.sass */
.panelChart.panelChart_state_soso::before {
  background: #6ebe27;
  content: "";
}
/* line 129, /Users/falcon/wdes/lib/wdes/views/sass/style.sass */
.panelChart.panelChart_state_notice::before {
  background: #eb9c3e;
  content: "";
}
/* line 132, /Users/falcon/wdes/lib/wdes/views/sass/style.sass */
.panelChart.panelChart_state_attention::before {
  background: #d13e3e;
  content: "";
}
/* line 136, /Users/falcon/wdes/lib/wdes/views/sass/style.sass */
.panelChart.panelChart_chart_temperature, .panelChart.panelChart_chart_humidity {
  padding: 10px;
}
/* line 138, /Users/falcon/wdes/lib/wdes/views/sass/style.sass */
.panelChart.panelChart_chart_humidity, .panelChart.panelChart_chart_tempAndHum {
  border-radius: 0 4px 0 0;
}
/* line 140, /Users/falcon/wdes/lib/wdes/views/sass/style.sass */
.panelChart.panelChart_chart_tempAndHum, .panelChart.panelChart_chart_moisture, .panelChart.panelChart_chart_illuminance {
  padding: 30px 20px 10px;
}
/* line 142, /Users/falcon/wdes/lib/wdes/views/sass/style.sass */
.panelChart.panelChart_chart_tempAndHum .panelChart__caption, .panelChart.panelChart_chart_moisture .panelChart__caption, .panelChart.panelChart_chart_illuminance .panelChart__caption {
  top: 5px;
  height: 30px;
  color: #fff;
  line-height: 30px;
}
/* line 147, /Users/falcon/wdes/lib/wdes/views/sass/style.sass */
.panelChart.panelChart_chart_moisture {
  background: rgba(49, 144, 193, 0.9);
}
/* line 149, /Users/falcon/wdes/lib/wdes/views/sass/style.sass */
.panelChart.panelChart_chart_illuminance {
  background: rgba(235, 156, 62, 0.9);
}
/* line 153, /Users/falcon/wdes/lib/wdes/views/sass/style.sass */
.panelChart__param, .panelChart__img {
  display: block;
  position: absolute;
  top: calc(50% - 50px);
  left: 0;
  width: 100%;
  height: 70px;
  color: #fff;
  line-height: 70px;
  text-align: center;
  letter-spacing: 0.2em;
  text-indent: 0.2em;
}

/* line 165, /Users/falcon/wdes/lib/wdes/views/sass/style.sass */
.panelChart.panelChart_type_graph .panelChart__param {
  font-size: 3rem;
  font-family: "Dosis", sans-serif;
}

/* line 168, /Users/falcon/wdes/lib/wdes/views/sass/style.sass */
.panelChart__caption {
  display: block;
  position: absolute;
  bottom: calc(50% - 40px);
  left: 0;
  width: 100%;
  height: 20px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 0.8rem;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.7em;
  text-indent: 0.7em;
}

/* line 181, /Users/falcon/wdes/lib/wdes/views/sass/style.sass */
.panelChart.panelChart_type_text .panelChart__param {
  font-size: 2rem;
  letter-spacing: 0.5em;
  text-indent: 0.5em;
}

/* line 187, /Users/falcon/wdes/lib/wdes/views/sass/style.sass */
.comments {
  position: relative;
  height: 500px;
  background: rgba(235, 156, 62, 0.2);
  overflow: scroll;
}
/* line 192, /Users/falcon/wdes/lib/wdes/views/sass/style.sass */
.comments.comments_type_recently {
  height: 180px;
  border-radius: 0 0 4px 0;
}
/* line 197, /Users/falcon/wdes/lib/wdes/views/sass/style.sass */
.comments__form {
  display: block;
  position: relative;
  padding: 10px;
  font-size: 0;
  border-radius: 0 4px 0 0;
  background: rgba(0, 0, 0, 0.7);
}
/* line 204, /Users/falcon/wdes/lib/wdes/views/sass/style.sass */
.comments__form input[type="text"] {
  display: block;
  box-sizing: border-box;
  padding: 0 0.5em;
  padding-right: calc(100px + .5em);
  width: 100%;
  height: 34px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 0.8rem;
  line-height: 34px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 4px;
  background: none;
  transition-property: color, border-color;
  transition-duration: 0.2s;
}
/* line 219, /Users/falcon/wdes/lib/wdes/views/sass/style.sass */
.comments__form input[type="text"]:hover, .comments__form input[type="text"]:focus {
  color: #fff;
  border-color: rgba(255, 255, 255, 0.6);
}
/* line 222, /Users/falcon/wdes/lib/wdes/views/sass/style.sass */
.comments__form input[type="submit"] {
  display: inline-block;
  position: absolute;
  padding: 0;
  top: 10px;
  right: 10px;
  z-index: 1;
  width: 100px;
  height: 34px;
  color: rgba(255, 255, 255, 0.8);
  line-height: 34px;
  text-align: center;
  text-indent: 0;
  border: none;
  border-radius: 0 4px 4px 0;
  background: rgba(255, 255, 255, 0.1);
  cursor: pointer;
  outline: none;
  transition-property: border-color, background-color;
  transition-duration: 0.2s;
}
/* line 242, /Users/falcon/wdes/lib/wdes/views/sass/style.sass */
.comments__form input[type="submit"]:hover, .comments__form input[type="submit"]:active {
  color: #fff;
  border-color: rgba(255, 255, 255, 0.8);
  background-color: rgba(255, 255, 255, 0.2);
}

/* line 247, /Users/falcon/wdes/lib/wdes/views/sass/style.sass */
.comments__item {
  position: relative;
  box-sizing: border-box;
  margin: 10px;
  padding: 10px;
  font-size: 1rem;
  border: 2px solid rgba(235, 156, 62, 0.6);
  border-radius: 5px;
  background: #fff;
}

/* line 256, /Users/falcon/wdes/lib/wdes/views/sass/style.sass */
.comments__item__summary {
  display: block;
  position: absolute;
  top: 10px;
  left: 20px;
  color: #eb9c3e;
  font-size: 0.9rem;
  line-height: 1.5em;
}

/* line 264, /Users/falcon/wdes/lib/wdes/views/sass/style.sass */
.comments__item__time {
  display: block;
  padding: 0 1em;
  height: 25px;
  color: rgba(235, 156, 62, 0.8);
  font-size: 0.7rem;
  line-height: 25px;
  text-align: right;
  border-bottom: 1px solid rgba(235, 156, 62, 0.4);
}

/* line 273, /Users/falcon/wdes/lib/wdes/views/sass/style.sass */
.comments__item__txt {
  padding: 10px;
  padding-bottom: 0;
  color: #2c2c2c;
  font-size: 0.9rem;
  line-height: 1.5em;
  text-indent: 1em;
}
